---
import { getSession } from 'auth-astro/server';



---
<html>
    <body>
        <div>
            <h1>Protected Page</h1>
            <p>Hi , only logged in users can see this page</p>
        </div>
    </body>
    
</html>
