@tailwind base;
@tailwind components;
@tailwind utilities;

	
@layer base {
	body {
		@apply bg-zinc-800 text-white;
	}
	header {
		@apply bg-zinc-900;
	}
	h1 {
		font-weight: bold;
		width: auto;
		padding: 2rem;

	}
	h2 {
		font-weight: bold;
		font-size: 2rem;
		width: auto;
		margin-bottom: 0.5rem;
		padding: 1.5rem;
	}
}

	