@tailwind base;


@layer base {
	h1 {
		font-weight: bold;
		width: auto;
		padding: 2rem;

	}
	h2 {
		font-weight: bold;
		font-size: 2rem;
		width: auto;
		margin-bottom: 0.5rem;
		padding: 1.5rem;

	}
	li {
		margin-bottom: 1rem;
	}
	
}

@tailwind components;
@tailwind utilities;
 