---
import BaseHead from "../components/Common/BaseHead.astro";
import Header from "../components/Common/Header.astro";
import Footer from "../components/Common/Footer.astro";
import { getCollection } from "astro:content";
import Search from "../components/Search/Search.astro";
import CategoryList from "../components/Categories/CategoryList.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={"Windows on Arm"}
      description={"Find projects supported by Windows on Arm"}
    />
  </head>
  <body class="min-h-screen flex flex-col">
    <Header />

    <main>
      <div class="px-10 md:px-20 py-5">
        <p class="text-xl my-5 text-center">
          This page shows whether popular Windows applications natively support
          Windows on Arm
        </p>
      </div>
      <Search />
      <CategoryList />
    </main>
    <Footer />
  </body>
</html>
