---
import BaseHead from "../components/Common/BaseHead.astro";
import Header from "../components/Common/Header.astro";
import Footer from "../components/Common/Footer.astro";
import { getCollection } from "astro:content";
import Search from "../components/Search/Search.astro";

const categories = await getCollection("categories");
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={"Windows on ARM"}
      description={"Find projects supported by Windows on ARM"}
    />
  </head>
  <body class="min-h-screen flex flex-col">
    <Header />

    <main>
      <div class="px-10 md:px-20 py-5">
        <p class="text-xl my-5 text-center">
          This page shows whether popular Windows applications natively support
          Windows on ARM
        </p>
      </div>
      <Search />

      <section class="flex flex-col items-center m-10">
        <h2 class="font-bold p-3 text-xl">Browse by Category</h2>
        <ul class="flex flex-row flex-wrap gap-5 underline p-5">
          <li>
            <a class="" href="/all/1">all</a>
          </li>
          {
            categories.map((category) => (
              <li>
                <a href={`/${category.id}/1`}>{category.data.name}</a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
