---
import BaseHead from "../components/Common/BaseHead.astro";
import Header from "../components/Common/Header.astro";
import Footer from "../components/Common/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={"Windows on Arm"}
      description={"Find projects supported by Windows on Arm"}
    />
  </head>
  <body class="min-h-screen flex flex-col">
    <Header />

    <main>
      <div class="px-10 md:px-20 py-5">
        <p class="text-xl my-5 text-center">
          This website helps users find compatibility information about
          applications and games for Windows on Arm
        </p>
      </div>
      <ul
        class="max-w-5xl mx-auto flex flex-col md:flex-row justify-center items-center text-xl font-bold gap-8"
      >
        <li>
          <a
            class="border-white border-2 px-4 py-2 rounded-xl hover:bg-white hover:text-black"
            href="/applications/">View Applications</a
          >
        </li>
        <li>
          <a
            class="border-white border-2 px-4 py-2 rounded-xl hover:bg-white hover:text-black"
            href="/games/">View Games</a
          >
        </li>
      </ul>
    </main>
    <Footer />
  </body>
</html>
