---
import HeaderLink from "./HeaderLink.astro";
---

<header class="w-full">
  <div class="bg-black">
    <img class="mx-auto w-24 p-3" src="/Linaro-Logo.svg" />
  </div>
  <div class="p-10 sm:p-20 flex items-center">
    <a class="text-4xl sm:text-5xl text-center text-white w-full" href="/"
      >Windows on ARM Supported Applications</a
    >
  </div>
</header>
