---
import "@pagefind/default-ui/css/ui.css";
import PageFind from "./PageFind";

export interface Props {
  readonly id?: string;
  readonly className?: string;
  readonly query?: string;
}
---

<section class="py-10 h-36">
  <div></div>
  <PageFind client:only="solid-js" />
</section>
