---
import PageFind from "./PageFind";

export interface Props {
  shouldRedirect: boolean;
}

const { shouldRedirect } = Astro.props;
---

<section class="pt-10 min-h-[8rem]">
  <PageFind client:only="solid-js" shouldRedirect={shouldRedirect} />
</section>
