---
const today = new Date();
const links = [
  {
    text: "Report an issue",
    href: "https://github.com/Linaro/works-on-woa/issues/new",
  },
  {
    text: "Edit on Github",
    href: "https://github.com/Linaro/works-on-woa",
  },
  {
    text: "Legal",
    href: "https://www.linaro.org/legal/",
  },
  {
    text: "Contact",
    href: "https://www.linaro.org/contact/",
  },
  {
    text: "Help",
    href: "/help/",
  },
  {
    text: "Content takedown request",
    href: "/takedown/",
  },
];
---

<footer
  class="mt-auto border-t border-gray-500 p-6 text-center text-gray-100 text-sm"
>
  <ul class="flex flex-row flex-wrap items-center justify-center w-full mb-5">
    {
      links.map((link) => (
        <li class="after:border after:border-solid after:border-gray-500 last:after:border-none">
          <a
            class=" text-center p-5 text-gray-100 no-underline"
            href={link.href}
            target="_blank"
          >
            {link.text}
          </a>
        </li>
      ))
    }
  </ul>
  <div class="flex justify-center py-2 mb-2 mx-auto w-auto">
    <a
      href="https://www.linaro.org"
      target="_blank"
      class="flex justify-center"
    >
      Powered by <img src="/Linaro-White.svg" class="w-16" />
    </a>
  </div>
  <p class="text-xs text-center">
    Copyright &copy;
    {today.getFullYear()}
    Linaro Limited. All product names, logos, brands, trademarks and registered trademarks
    are property of their respective owners.
  </p>
</footer>
