---
const today = new Date();
const links = [
  {
    text: "Report an issue",
    href: "https://github.com/Linaro/works-on-woa/issues/new",
  },
  {
    text: "Edit on Github",
    href: "https://github.com/Linaro/works-on-woa",
  },
  {
    text: "Cookie Policy",
    href: "",
  },
  {
    text: "Terms of Use",
    href: "",
  },
  {
    text: "Privacy Policy",
    href: "",
  },
  {
    text: "Contact",
    href: "",
  },
];
---

<footer class="bg-zinc-600 mt-auto border-t p-6 text-center">
  <ul class="flex flex-row flex-wrap items-center justify-center w-full mb-5">
    {
      links.map((link) => (
        <li class="after:border after:border-solid after:border-white">
          <a class=" text-center p-5 text-white no-underline" href={link.href}>
            {link.text}
          </a>
        </li>
      ))
    }
  </ul>
  Copyright &copy; {today.getFullYear()} Linaro Limited
</footer>
