<header class="w-full">
  <div
    class="p-10 sm:p-20 flex items-center bg-[url('/WoA-banner.png')] bg-center bg-no-repeat"
  >
    <a
      class="text-3xl sm:text-5xl text-center text-white w-full no-underline"
      href="/">Windows on Arm Ready Applications</a
    >
  </div>
</header>
