<header class="w-full">
  <div class="bg-black">
    <img class="mx-auto w-32 p-3" src="/Linaro-White.svg" />
  </div>
  <div
    class="p-10 sm:p-20 flex items-center bg-[url('/WoA-banner.png')] bg-center"
  >
    <a
      class="text-4xl sm:text-5xl text-center text-white w-full no-underline"
      href="/">Windows on Arm Supported Applications</a
    >
  </div>
</header>
